@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.error-div {
    position: absolute;
    top: 35%;
    width: 100%;
}

.error-h1 {
    position: relative;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.error-button {
    position: relative;
    width: 300px;
    top: 50px;
    left: 50%;
    margin-left: -150px;
}