@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.search-box-h1 {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}